html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2ff;
    padding: 15px;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tanchu{
   padding: 20px;
}
#xiugai{
    padding: 20px;
}